---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()}</p>
</footer>
<style>
	footer {
		border-top: 1px solid var(--black);
		padding: 2rem 1.5rem;
		text-align: center;
		margin-top: 8rem;
	}

	p {
		color: var(--gray);
		font-size: 0.875rem;
		margin: 0;
	}
</style>
